# Project exclude paths
/code-client/target/
/code-common/target/
/code-manager/target/
/code-service/target/
/code-generator/target/
/code-demo/target/
/code-eureka/target/
/code-shiro/target/
/code/logs/
target
out

*.iml
*.log
*.gz
*.class
*.idea
