package ${package.ServiceImpl};

import com.huabote.kefang.kpp.common.base.BaseService;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;
import ${package.Service}.${table.serviceName};

/**
 * Created by ${author} on ${date}
 * <p>
 * ${table.comment} 服务实现类
 */
@Slf4j
@Service
public class ${table.serviceImplName} extends BaseService implements ${table.serviceName}{

}